{% load mfc_state %}
{% load commit_note %}


<script>
$( document ).ready(function() {
	MFC.fetchBasket();

    $('#commentModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var revision = button.data('revision') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('label').text('Comment for r' + revision + ':')
      // modal.find('.modal-body input').val(recipient)
      var text = modal.find('#text');
      var savecomment = modal.find('#savecomment');
      var deletecomment = modal.find('#deletecomment');
      var note = $('#note-text-' + revision);
      $(text).val(($(note).text()));

      $(savecomment).off("click").click(function(e) {
          var comment = $(text).val();
          MFC.updateComment(revision, comment, function (data) {
              console.log('posted');
              $(note).text(comment);
              $('.note-' + revision).removeClass('hide');
              $(modal).modal('toggle')
          });
      });

      $(deletecomment).off("click").click(function(e) {
          MFC.deleteComment(revision, function (data) {
              console.log('deleted');
              $(note).text('');
              $('.note-' + revision).addClass('hide');
              $(modal).modal('toggle')
          });
      });
    })
});
</script>

        <table class="table table-hover" id="commits">
            {% for commit in commits %}
                    <tr class="mfc{{ commit | mfc_state:current_branch }}" revision="{{ commit.revision }}">
                    <td class="col-sm-1">r{{ commit.revision }}</td>
                    <td class="col-sm-1">{{ commit.author }}</td>
                    <td class="col-sm-2">{{ commit.date }}</td>
                     {% with note=commit|commit_note:request.user %}  
                     <td class="col-sm-7"><span class="summary" data-toggle="collapse" href="#more{{commit.revision}}" aria-expanded="false" aria-controls="more{{commit.revision}}">{{ commit.summary }} <i class="glyphicon glyphicon-comment {% if note is None %}hide{% endif %} note-{{commit.revision}}" id="comment"></i></span>

                     <div class="collapse" id="more{{commit.revision}}">
                         {% if commit.more|length > 0 %}
                         <pre>{{commit.more|urlize}}</pre>
                         {% endif %}
                         <div class="panel panel-default {% if note is None %}hide{% endif %} note-{{commit.revision}}" id="comment-panel">
                             <div class="panel-body" id="note-text-{{commit.revision}}">{{note.text}}</div>
                             </div>
                         <a role="button" class="btn btn-default viewvc pull-right" aria-label="ViewVC" href="{{ commit.viewvc_url }}" target="_blank">ViewVC <span class="glyphicon glyphicon-new-window"></span></a>
                         {% if user.is_authenticated %}
                         <button type="button" class="btn btn-default" data-toggle="modal" data-target="#commentModal" data-revision="{{commit.revision}}"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                         {% endif %}
                    </div>
                    </td>
                    {% endwith %}
                    {% if not readonly %}
                    <td class="col-sm-1 text-right"><button type="button" class="btn btn-default hide" aria-label="Add" id="action">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
