{% extends "mfctracker/base.html" %}

{% load bootstrap3 %}

{% block head %}
<script>
$( document ).ready(function() {
    $("#setfilter").click(function() {
        $('input[name="extended_filters"]').val($("#extended_filters_edit").val());
        $("#filtersform").submit();
    });
</script>
{% endblock %}

{% block content %}

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="text" class="form-control-label">Comment:</label>
            <textarea class="form-control" id="text" rows="10" name="text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" aria-label="Save Comment" id="savecomment">Save</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Cancel Comment" id="cancelcomment">Cancel</button>
		<button type="button" class="btn btn-danger pull-left" aria-label="Delete Comment" id="deletecomment"><span class="glyphicon glyphicon-trash"></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="commit-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
<!-- 
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
-->
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include "mfctracker/navbar.html" %}

<div class="container">
      <div class="row">
         <!-- Branch -->
         <div class="col-md-3">
           <div class="dropdown">
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownBranches" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               Target branch: <b>{{ current_branch.name }}</b>
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownBranches">
               {% for branch in branches %}
               <li><a href="{% url 'branch' branch_id=branch.pk %}">{{ branch.name }}</a></li>
               {% endfor %}
             </ul>
           </div>
         </div>

        <div class="col-md-9 text-right">

          <form id="filtersform" class="form-inline" action="{% url 'setfilter' branch_id=current_branch.pk %}" method="POST">
            {% csrf_token %}
            <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary filter {{ waiting_active }}">
                <input type="checkbox" autocomplete="off" name="filter_waiting" {{ waiting_checked }}><span class="glyphicon glyphicon-ok"></span> Waiting
            </label>
            <label class="btn btn-success filter {{ ready_active }}">
                <input type="checkbox" autocomplete="off" name="filter_ready" {{ ready_checked }}><span class="glyphicon glyphicon-ok"></span> Ready
            </label>
            <label class="btn btn-default filter {{ other_active }}">
                <input type="checkbox" autocomplete="off" name="filter_other" {{ other_checked }}><span class="glyphicon glyphicon-ok"></span> No MFC date
            </label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="filters" value="{{ filters }}" placeholder="Committer">
              <input type="hidden" name="page" value="{{ commits.number }}">
              <input type="hidden" name="extended_filters" value="">
            </div>
            <button type="button" class="btn btn-primary" id="setfilter">Filter</button>
            <!-- <a class="btn btn-default" role="button" data-toggle="collapse" href="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters">Advanced</a> -->
          </form>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
          {% include "mfctracker/commits.html" %}
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
            {% bootstrap_pagination commits %}
          </div>
      </div>
</div>
{% endblock %}
