{% extends "mfctracker/base.html" %}

{% load bootstrap3 %}
{% load mfc_state %}
{% load commit_note %}

{% block head %}
<script>
$( document ).ready(function() {
	MFC.fetchBasket();

    $("#setfilter").click(function() {
        $('input[name="extended_filters"]').val($("#extended_filters_edit").val());
        $("#filtersform").submit();
    });

    $('#commentModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var revision = button.data('revision') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('label').text('Comment for r' + revision + ':')
      // modal.find('.modal-body input').val(recipient)
      var text = modal.find('#text');
      var savecomment = modal.find('#savecomment');
      var deletecomment = modal.find('#deletecomment');
      var note = $('#note-text-' + revision);
      $(text).val(($(note).text()));

      $(savecomment).off("click").click(function(e) {
          var comment = $(text).val();
          MFC.updateComment(revision, comment, function (data) {
              console.log('posted');
              $(note).text(comment);
              $('.note-' + revision).removeClass('hide');
              $(modal).modal('toggle')
          });
      });

      $(deletecomment).off("click").click(function(e) {
          MFC.deleteComment(revision, function (data) {
              console.log('deleted');
              $(note).text('');
              $('.note-' + revision).addClass('hide');
              $(modal).modal('toggle')
          });
      });
    })
});
</script>
{% endblock %}

{% block content %}

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="text" class="form-control-label">Comment:</label>
            <textarea class="form-control" id="text" rows="10" name="text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" aria-label="Save Comment" id="savecomment">Save</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Cancel Comment" id="cancelcomment">Cancel</button>
		<button type="button" class="btn btn-danger pull-left" aria-label="Delete Comment" id="deletecomment"><span class="glyphicon glyphicon-trash"></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="commit-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
<!-- 
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
-->
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'mfchelper' branch_id=current_branch.pk %}">MFC Basket <span class="badge" id="mfccount">0</span></a></li>
      </ul>
      {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Logged in as {{request.user.username}}</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </li>
          </ul>
      {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}">Sign in</a></li>
          </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
      <div class="row">
         <!-- Branch -->
         <div class="col-md-2">
           <div class="dropdown">
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownBranches" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               Target branch: <b>{{ current_branch.name }}</b>
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownBranches">
               {% for branch in branches %}
               <li><a href="{% url 'branch' branch_id=branch.pk %}">{{ branch.name }}</a></li>
               {% endfor %}
             </ul>
           </div>
         </div>

        <div class="col-md-10 text-right">

          <form id="filtersform" class="form-inline" action="{% url 'setfilter' branch_id=current_branch.pk %}" method="POST">
            {% csrf_token %}
            <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary filter {{ waiting_active }}">
                <input type="checkbox" autocomplete="off" name="filter_waiting" {{ waiting_checked }}><span class="glyphicon glyphicon-ok"></span> Waiting
            </label>
            <label class="btn btn-success filter {{ ready_active }}">
                <input type="checkbox" autocomplete="off" name="filter_ready" {{ ready_checked }}><span class="glyphicon glyphicon-ok"></span> Ready
            </label>
            <label class="btn btn-default filter {{ other_active }}">
                <input type="checkbox" autocomplete="off" name="filter_other" {{ other_checked }}><span class="glyphicon glyphicon-ok"></span> No MFC date
            </label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="filters" value="{{ filters }}" placeholder="Committer">
              <input type="hidden" name="page" value="{{ commits.number }}">
              <input type="hidden" name="extended_filters" value="">
            </div>
            <button type="button" class="btn btn-primary" id="setfilter">Filter</button>
            <!-- <a class="btn btn-default" role="button" data-toggle="collapse" href="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters">Advanced</a> -->
          </form>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <table class="table table-hover" id="commits">
            {% for commit in commits %}
                    <tr class="mfc{{ commit | mfc_state:current_branch }}" revision="{{ commit.revision }}">
                    <td class="col-sm-1">r{{ commit.revision }}</td>
                    <td class="col-sm-1">{{ commit.author }}</td>
                    <td class="col-sm-2">{{ commit.date }}</td>
                     {% with note=commit|commit_note:request.user %}  
                     <td class="col-sm-7"><span class="summary" data-toggle="collapse" href="#more{{commit.revision}}" aria-expanded="false" aria-controls="more{{commit.revision}}">{{ commit.summary }} <i class="glyphicon glyphicon-comment {% if note is None %}hide{% endif %} note-{{commit.revision}}" id="comment"></i></span>

                     <div class="collapse" id="more{{commit.revision}}">
                         {% if commit.more|length > 0 %}
                         <pre>{{commit.more|urlize}}</pre>
                         {% endif %}
                         <div class="panel panel-default {% if note is None %}hide{% endif %} note-{{commit.revision}}" id="comment-panel">
                             <div class="panel-body" id="note-text-{{commit.revision}}">{{note.text}}</div>
                             </div>
                         <a role="button" class="btn btn-default viewvc pull-right" aria-label="ViewVC" href="{{ commit.viewvc_url }}" target="_blank">ViewVC <span class="glyphicon glyphicon-new-window"></span></a>
                         {% if user.is_authenticated %}
                         <button type="button" class="btn btn-default" data-toggle="modal" data-target="#commentModal" data-revision="{{commit.revision}}"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                         {% endif %}
                    </div>
                    </td>
                    {% endwith %}
                    <td class="col-sm-1 text-right"><button type="button" class="btn btn-default hide" aria-label="Add" id="action">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button></td>
                </tr>
            {% endfor %}
        </table>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
            {% bootstrap_pagination commits %}
          </div>
      </div>
</div>
{% endblock %}
