{% extends "mfctracker/base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block head %}
<script>
MFC.fetchBasket();
function SelectText(text) {
    var doc = document
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

$( document ).ready(function() {
    $(".select").each(function(index, element) {
        $(element).tooltip();
		$(element).click(function() {
			SelectText($($(element).attr("target"))[0]);
		});
	});
    $("button#confirm").click(function() {
		$.post( "/mfcbasket/clear", function (data) {
        	window.location.href = '/';
		});
	});

    $("#clearmfc").click(function() {
    	$('div#confirm').modal({ backdrop: 'static', keyboard: false });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    {% include "mfctracker/alerts.html" %}
{% if empty %}
      <div class="row text-center">
          <h2>No MFC commits</h2>
      </div>
{% else %}
      <div class="row">
        <a href="{% url 'mfcbasket' branch_id=current_branch.pk %}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
      </div>

      <div class="row">
          <h3>Command
    <a role="button" target="#commit_cmd" class="btn btn-default select" data-toggle="tooltip" data-placement="right" title="Click and then press Ctrl+C"> <i class="glyphicon glyphicon-copy"></i></a> 
          </h3>
          <pre id="commit_cmd">{{ commit_command }}</pre>
      </div>
      <div class="row">
          <h3>Commit message
    <a role="button" target="#commit_msg" class="btn btn-default select" data-toggle="tooltip" data-placement="right" title="Click and then press Ctrl+C"> <i class="glyphicon glyphicon-copy"></i></a>
	<a class="btn btn-link pull-right" href="{% url 'mfchelper' branch_id=current_branch.pk summarized=nextformat %}">show {% if nextformat %}summarized{% else %}full{% endif %} version</a>
	</h3>
          <pre id="commit_msg">{{ commit_msg }}</pre>
      </div>
{% endif %}
</div>
{% endblock %}
