{% load static %}
{% load bootstrap3 %}

<html>
<head>

{# Load CSS and JavaScript #}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static "mfctracker.css" %}" />
<script src="{% static "csrf.js" %}"></script>
<script src="{% static "mfctracker.js" %}"></script>
<script>
function SelectText(text) {
    var doc = document
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

$( document ).ready(function() {
    $(".select").each(function(index, element) {
        $(element).tooltip();
		$(element).click(function() {
			SelectText($($(element).attr("target"))[0]);
		});
	});
    $("button#confirm").click(function() {
		$.post( "/mfcbasket/clear", function (data) {
        	window.location.href = '/';
		});
	});

    $("#clearmfc").click(function() {
    	$('div#confirm').modal({ backdrop: 'static', keyboard: false });
    });
});
</script>

</head>
<body>

<div class="modal fade" tabindex="-1" role="dialog" id="confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Clear MFC Basket</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete all revisions from MFC basket?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm">Clear</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/">
        {% csrf_token %}
        <a role="button" class="btn btn-danger {% if empty %}disabled{% endif %}" id="clearmfc">Clear</a>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
{% if empty %}
      <div class="row text-center">
          <h2>No MFC commits</h2>
      </div>

{% else %}
      <div class="row">
          <h3>Command
    <a role="button" target="#commit_cmd" class="btn btn-default select" data-toggle="tooltip" data-placement="right" title="Click and then press Ctrl+C"> <i class="glyphicon glyphicon-copy"></i></a> 
          </h3>
          <pre id="commit_cmd">{{ commit_command }}</pre>
      </div>
      <div class="row">
          <h3>Commit message
    <a role="button" target="#commit_msg" class="btn btn-default select" data-toggle="tooltip" data-placement="right" title="Click and then press Ctrl+C"> <i class="glyphicon glyphicon-copy"></i></a></h3>
          <pre id="commit_msg">{{ commit_msg }}</pre>
      </div>
{% endif %}
</div>
</body
</html>
