{% extends "mfctracker/base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block head %}
<script>
function SelectText(text) {
    var doc = document
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

$( document ).ready(function() {
    $(".select").each(function(index, element) {
        $(element).tooltip();
		$(element).click(function() {
			SelectText($($(element).attr("target"))[0]);
		});
	});
    $("button#confirm").click(function() {
		$.post( "/mfcbasket/clear", function (data) {
        	window.location.href = '/';
		});
	});

    $("#clearmfc").click(function() {
    	$('div#confirm').modal({ backdrop: 'static', keyboard: false });
    });


    $('#shareModal').on('show.bs.modal', function (event) {
      var modal = $(this)
      var generate = modal.find('#generatetoken');
      var share_link = modal.find('#share_link');
      $(generate).off("click").click(function(e) {
          MFC.generateShareToken({{current_branch.pk}}, function(data) {
              $(share_link).text(data['url']);
          });
      });
    })
});
</script>
{% endblock %}

{% block content %}
<div class="container">
{% if commits|length == 0 %}
      <div class="row text-center">
          <h2>No MFC commits</h2>
      </div>

{% else %}
      {% include "mfctracker/alerts.html" %}
      <div class="row">
        <div class="col-md-6">
           <div class="dropdown">
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownBranches" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               Target branch: <b>{{ current_branch.name }}</b>
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownBranches">
               {% for branch in branches %}
               <li><a href="{% url 'mfcbasket' branch_id=branch.pk %}">{{ branch.name }}</a></li>
               {% endfor %}
             </ul>
           </div>
        </div>
        <div class="col-md-6 text-right">
            <form>
            <a role="button" class="btn btn-danger {% if empty %}disabled{% endif %}" id="clearmfc"><i class="glyphicon glyphicon-trash"></i> Clear</a>
            <a role="button" class="btn btn-default disabled" onclick="location.reload();"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
            <a role="button" class="btn btn-default" data-toggle="modal" data-target="#shareModal"><i class="glyphicon glyphicon-share"></i> Share</a>
            <a role="button" class="btn btn-primary {% if empty %}disabled{% endif %}" id="mfchelper" href="{% url 'mfchelper' branch_id=current_branch.pk %}">SVN Helper</a>
            </form>
        </div>
      </div>
      <div class="row">
          {% include "mfctracker/commits.html" %}
      </div>
{% endif %}
</div>
{% endblock %}
