{% extends "mfctracker/base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block head %}
<script>
function SelectText(text) {
    var doc = document
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

$( document ).ready(function() {
    $(".select").each(function(index, element) {
        $(element).tooltip();
		$(element).click(function() {
			SelectText($($(element).attr("target"))[0]);
		});
	});
    $("button#confirm").click(function() {
		$.post( "/mfcbasket/clear", function (data) {
        	window.location.href = '/';
		});
	});

    $("#clearmfc").click(function() {
    	$('div#confirm').modal({ backdrop: 'static', keyboard: false });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
{% if commits|length == 0 %}
      <div class="row text-center">
          <h2>No MFC commits</h2>
      </div>

{% else %}
      {% include "mfctracker/alerts.html" %}
      <div class="row">
        <div class="col-md-3">
          <form>
            {% csrf_token %}
            <a role="button" class="btn btn-danger {% if empty %}disabled{% endif %}" id="clearmfc">Clear</a>
          </form>
        </div>
        <div class="col-md-9 text-right">
            <a role="button" class="btn btn-primary {% if empty %}disabled{% endif %}" id="mfchelper" href="{% url 'mfchelper' branch_id=current_branch.pk %}">SVN helper</a>
        </div>
      </div>
      <div class="row">
          {% include "mfctracker/commits.html" %}
      </div>
{% endif %}
</div>
{% endblock %}
