{% extends "mfctracker/base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block head %}
<script>
function SelectText(text) {
    var doc = document
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

$( document ).ready(function() {
    $(".select").each(function(index, element) {
        $(element).tooltip();
		$(element).click(function() {
			SelectText($($(element).attr("target"))[0]);
		});
	});
    $("button#confirm").click(function() {
		$.post( "/mfcbasket/clear", function (data) {
        	window.location.href = '/';
		});
	});

    $("#clearmfc").click(function() {
    	$('div#confirm').modal({ backdrop: 'static', keyboard: false });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
{% if commits|length == 0 %}
      <div class="row text-center">
          <h2>No MFC commits</h2>
      </div>

{% else %}
      <div class="row text-center">
          <h3>{{username}}'s MFC basket</h3>
      </div>
      <div class="row">
          {% include "mfctracker/commits.html" with readonly=True%}
      </div>
{% endif %}
</div>
{% endblock %}
