{% extends "mfctracker/base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block head %}
<script>
$( document ).ready(function() {
});
</script>
{% endblock %}

{% block content %}
<div class="container">
{% if commits|length == 0 %}
      <div class="row text-center">
          <h2>No "Never MFC" commits</h2>
      </div>

{% else %}
      <div class="row text-center">
          <h2>Never MFC</h2>
      </div>
      <div class="row">
          {% include "mfctracker/commits.html" with readonly=True%}
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
            {% bootstrap_pagination commits %}
          </div>
      </div>
{% endif %}
</div>
{% endblock %}
