body {
    padding: 20px; 
};

table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

.table>tbody>tr.mfcdone>td, 
.table>tbody>tr.mfcdone>th {
   color: #ccc;
}

.table>tbody>tr.mfcready>td, 
.table>tbody>tr.mfcready>th {
   background-color: #00c851;
}

.table>tbody>tr.mfcwait>td, 
.table>tbody>tr.mfcwait>th {
   background-color: #33b5e5;
}

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary:hover {
    text-decoration: underline;
}

.summary {
    cursor: pointer;
}
